html {
  /* background-color: #ebf6f7; */
  background-color: #f0ffff;
}
body {
  font-family: "Work Sans", sans-serif;
}

a {
  color: darkgreen;
}

a:hover {
  text-decoration: none;
  color: black;
}

video {
  width: 100%;
}

#container {
  margin: 0 auto;
  padding: 20px;
  color: #2e4d4d;
}

#header {
  text-align: center;
}

#header-image {
  width: 120px;
  border-radius: 120px;
}

#title {
  font-size: 16px;
}

#content {
  text-align: center;
  margin-top: 50px;
}

#content-title {
  font-family: "Poppins", sans-serif;
  color: #7bb0b0;
  font-weight: bold;
  font-size: 40px;
}

.project-thumb {
  display: inline-block;
  max-width: 350px;
  background-color: #BBE8E8;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  vertical-align: top;
  transition: background-color 0.2s;
  text-decoration: none;
  color: inherit;
}

.project-thumb:hover {
  background-color: #BFFCFD;
}

.project-thumb-image {
  max-width: 100%;
  z-index: 2;
}

.project-thumb-desc {
  min-height: 100px;
  text-align: center;
  display: inline-block;
  z-index: 2;
}

#social-icons {
  text-align: center;
}

#social-icons .icon {
  background: #acc;
  display: inline-block;
  color: white;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  vertical-align: middle;
  margin: 0 1px 8px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
}

#social-icons .icon:hover {
  background: #aed;
}

.project-header {
  position: relative;
}

.project-home {
  position: absolute;
  top: -30px;
  left: 80px;
  transition: top ease 0.5s;
  text-decoration: none;
  color: #2e4d4d;
  font-weight: bold;
}

.project-header-image {
  width: 70px;
  border-radius: 70px;
  filter: grayscale(50%);
  transition: filter 0.5s;
}

.project-header-image:hover {
  filter: none;
}

.project-header-image:hover + .project-home {
  top: 30px;
}

.project-container {
  margin: 0 auto;
  text-align: center;
  padding: 20px 20px 100px 20px;
  max-width: 800px;
}

.project-title {
  color: #2e4d4d;
}

.project-desc-container {
  vertical-align: top;
}

.project-image {
  max-width: 100%;
  margin-left: 0;
  margin-right: 10px;
}

@media only screen and (min-width: 650px){
.project-image {
  max-width: 200px;
  float: left;
}
}

.project-desc {
  /* display: inline-block; */
  max-width: 100%;
  margin-left: 20px;
  font-size: 18px;
  color: #2e4d4d;
  text-align: left;
  border-radius: 10px;
}

.link-button {
  margin-top: 10px;
  background-color: #BBE8E8;
  padding: 10px 20px;
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
}

.link-button:hover {
  background-color: #aed;
}
